body{
   
    
      background-image: url(../C21-Front-End-Level-1-main/images/wp2763763.gif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    h1{
      color: whitesmoke;
    }
    p{
      color: whitesmoke;
    }
    
    


